In [31]:
#IMPORTO LIBRERIE
import pandas as pd
from sklearn.naive_bayes import CategoricalNB
from sklearn.naive_bayes import BernoulliNB

In [21]:
df = pd.read_csv('misc_anomalies.csv',decimal=',')
df.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,is_anomaly
0,93000801,2021-09-15 16:13:35.147,Italy,150.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
1,93000801,2021-08-24 10:34:24.487,Greece,3200.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
2,93000801,2021-09-14 16:21:43.33,Italy,8350.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
3,93001001,2021-06-30 09:07:16.733,Italy,500.00,3f241dfcc38064261fec0f303c2784e5,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0
4,93001001,2021-07-12 16:36:02.857,Italy,1895.68,a5d1eaffa8e325d370665f43624339a1,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0

In [22]:
import pickle
encoder_dict=pickle.load(open('enc_dict.pkl','rb'))
columns_to_label = ['country', 'userAgent_browserFamily', 'userAgent_osFamily', 'IBAN_countryCode', 'IBAN_bankCode','CAP', 'SIA', 'SAE', 'RAE','companyType']

In [23]:
columns_to_label = ['country', 'userAgent_browserFamily', 'userAgent_osFamily', 'IBAN_countryCode', 'IBAN_bankCode','CAP', 'SIA', 'SAE', 'RAE','companyType']

for clmn in columns_to_label:
    df[clmn]=df[clmn].apply(str)
    df[clmn] = encoder_dict[clmn].transform(df[clmn])

In [24]:
df.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,is_anomaly
0,93000801,2021-09-15 16:13:35.147,6,150.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,141,19,113,5,0
1,93000801,2021-08-24 10:34:24.487,5,3200.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,141,19,113,5,0
2,93000801,2021-09-14 16:21:43.33,6,8350.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,141,19,113,5,0
3,93001001,2021-06-30 09:07:16.733,6,500.00,3f241dfcc38064261fec0f303c2784e5,1,0,5,17,123,1781,87,8,99,10,0
4,93001001,2021-07-12 16:36:02.857,6,1895.68,a5d1eaffa8e325d370665f43624339a1,1,0,5,17,285,1781,87,8,99,10,0

In [32]:
# store the feature matrix (X) and response vector (y)
X = df.drop(columns=['is_anomaly','timestamp','businessName','customerId'])
y = df['is_anomaly']

# splitting X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# training the model on training set
from sklearn.naive_bayes import BernoulliNB
#gnb = BernoulliNB()
model=CategoricalNB()
model.fit(X_train, y_train)

# making predictions on the testing set
y_pred = model.predict(X_test)

# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Bernoulli Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Bernoulli Naive Bayes model accuracy(in %): 99.97251539138082

In [26]:
test=pd.read_csv('misc_test.csv',decimal=',')
test

,country,amount,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType
0,Austria,264986.74,1,Chrome,Windows,AT,34000,BUV4U,39031,430,161,SRL
1,Italy,111345.77,1,Chrome,Windows,DE,34270024,B5SDZ,39100,615,11,SS
2,Italy,1659.00,1,Firefox,Windows,IT,3069,BQ6RB,31010,430,649,SRL
3,Italy,200.00,1,Safari,Mac OS X,IT,8794,CM5CR,30174,492,614,SAS
4,Italy,1000.00,1,Chrome,Windows,IT,8327,CEFGV,31039,430,505,SRL
5,Italy,120.78,1,Chrome,Windows,IT,8749,CKZYT,31038,430,314,SRL
6,Italy,299.00,0,Other,Linux,IT,8904,082X3,30024,614,342,DI
7,Italy,151.35,0,Samsung Internet,Android,IT,2008,A7TWW,36027,430,316,SRL
8,Italy,1678.00,1,Chrome,Windows,IT,3440,CHRGC,36016,430,830,SRL

In [4]:
test.describe()

,amount,userAgent_isPc,IBAN_bankCode,CAP,SAE,RAE
count,9.000000,9.000000,9.000000e+00,9.000000,9.000000,9.000000
mean,42382.293333,0.777778,3.816368e+06,33717.666667,477.888889,415.777778
std,91142.922544,0.440959,1.142012e+07,3803.032573,80.066292,256.841283
min,120.780000,0.000000,2.008000e+03,30024.000000,430.000000,11.000000
25%,200.000000,1.000000,3.440000e+03,31010.000000,430.000000,314.000000
50%,1000.000000,1.000000,8.749000e+03,31039.000000,430.000000,342.000000
75%,1678.000000,1.000000,8.904000e+03,36027.000000,492.000000,614.000000
max,264986.740000,1.000000,3.427002e+07,39100.000000,615.000000,830.000000

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  9 non-null      object
 1   amount                   9 non-null      float64
 2   userAgent_isPc           9 non-null      int64
 3   userAgent_browserFamily  9 non-null      object
 4   userAgent_osFamily       9 non-null      object
 5   IBAN_countryCode         9 non-null      object
 6   IBAN_bankCode            9 non-null      int64
 7   SIA                      9 non-null      object
 8   CAP                      9 non-null      int64
 9   SAE                      9 non-null      int64
 10  RAE                      9 non-null      int64
 11  companyType              9 non-null      object
dtypes: float64(1), int64(5), object(6)
memory usage: 992.0+ bytes

In [27]:
columns_to_label = ['country','userAgent_browserFamily','userAgent_osFamily','IBAN_countryCode','IBAN_bankCode','CAP','SIA','SAE','RAE','companyType']
for clmn in columns_to_label:
    test[clmn]=test[clmn].apply(str)
    test[clmn] = encoder_dict[clmn].transform(test[clmn])
test.head()

,country,amount,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType
0,0,264986.74,1,0,5,0,364,1482,302,8,4,10
1,6,111345.77,1,0,5,6,376,965,327,25,1,11
2,6,1659.00,1,4,5,17,285,1346,62,8,121,10
3,6,200.00,1,11,3,17,1217,2045,58,19,106,5
4,6,1000.00,1,0,5,17,1088,1781,87,8,99,10

In [33]:
model.predict(test)

array([0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)